<h1>Demo site <%= title %></h1> 
 

<section id="feed-post" class="main_content">
    <h4>Post</h4>
    <% if(locals.user){ %>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here" required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="post_container">
        <ul>
            <% for(post of post){ %>
                <%- include('_post') -%>
            <% } %>
        </ul>
    </div>
</section>
<footer id="layout-footer">
    <div>
        <p>
            Created By:- Yash Khandelwal
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>