<h1>Demo site <%= title %></h1> 
 

<section id="feed-post">
    <h4>Post</h4>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here"></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="post_container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p>
                           <%= post.content %>
                        <small>
                            <%= post.user %>
                            <!-- post.user.name -->
                        </small>
                        <!-- <%= post.user %> -->
                    </p>
                </li>
            <% } %>
        </ul>
    </div>
</section>