<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <!-- <% if (locals.user){ %>
        <li>
            <a href="/user/profile">
                <%= user.name %>
            </a>
        </li>
        <li>
            <a href="/user/sign-out">Sign Out</a>
        </li>
    <% }else{ %>

        <li>
            <a href="/user/sign_in">Sign In</a>
        </li>

        <li>
            <a href="/user/sign_up">Sign Up</a>
        </li>


    <% } %> -->
<!-- </ul> -->

   <h1>Demo site <%= title %></h1> 
</body>
</html>