<h1>sign in</h1>

<form action="/user/session" method="post">
    <input type="email" name="email" placeholder="Your Email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sign in">


</form>