#layout-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    color: white;
    a{
        color: white;
        text-decoration: none;
    }
    p{
        font-size: 20px;
    }

    background: grey;
    // padding: 5px 10px;
    // display: flex;
    // justify-content: flex-start;
    ul{
        margin-right: 15px;
    }
    ul a:hover{
        // margin-right: 15px;
        // background-color: aqua;
        color: aqua;
        font-size: larger;
    }

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}